* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    color: white;
    background-color: turquoise;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    height: 75px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}   